---
import Layout from "@/layouts/layout.astro";
import { services } from "@/components/Services/servicesData";
import Main from "@/layouts/main.astro";

export function getStaticPaths() {
  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
---

<Layout>
    <Main>
        <h1 class="text-5xl lg:text-7xl font-bold font-headings text-primary">
          {service.title}
        </h1>
    </Main>
</Layout>
\