---
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";
import { ContactForm } from "@/components/ContactForm/contactForm";
import { Mail, Phone } from "lucide-react";
import Whatsapp from "@/components/ui/whatsapp";
---

<Layout>
  <Main>
    <section class="flex flex-col items-start bg-surface/30p p-4 ">
      <div class="flex flex-col gap-8 items-start bg-linear-to-b from-primary-light/20 to-transparent py-40 px-12 w-full rounded-3xl">
        <span class="text-sm border border-primary/50 rounded-full px-2 py-1 tracking-widest">CONTACTANOS</span>
        <div class="w-full flex gap-40 items-stretch">
          <div class="text-left w-full flex flex-col">
            <h1 class="main-title font-bold text-primary/70 mb-2"><b class="text-primary">H</b>az que pase</h1>
            <p class="text-xl">
              Hagamos algo increible juntos
            </p>
            <p class="text-xl">
              Hagamos algo que marque la<b
                class="text-primary font-extrabold font-headings tracking-wider"> DIFERENCIA</b
              >!
            </p>
            <div class="grid grid-cols-3 h-full py-4 items-center gap-12 mt-4">
              <div class="flex flex-col rounded-3xl h-full bg-primary-light/5 p-8 items-start gap-2">
                <span class="flex gap-4 text-lg font-bold"><Whatsapp /> HABLANOS</span>
                <span class="text-primary/70">+1 234 567 890</span>
              </div>
              <div class="flex flex-col rounded-3xl h-full bg-primary-light/5 p-8 items-start gap-2">
                <span class="flex gap-4 text-lg font-bold"><Phone /> LLAMANOS</span>
                <span class="text-primary/70">+1 234 567 890</span>
              </div>
              <div class="flex flex-col rounded-3xl h-full bg-primary-light/5 p-8 items-start gap-2">
                <span class="flex gap-4 text-lg font-bold"><Mail /> ESCRÍBENOS</span>
                <span class="text-primary/70">info@dacosta.com</span>
              </div>

            </div>  
          </div>
          <div class="flex flex-col md:flex-row gap-8 w-full justify-center items-stretch">
            <div
              class="rounded-3xl flex-1 h-full"
            >
              <ContactForm />
            </div>
            <!-- <ContactForm className="bg-primary text-primary-foreground" /> -->
          </div>
        </div>
      </div>
    </section>
  </Main>
</Layout>
