---
import { Instagram, Linkedin, Youtube } from "lucide-react";
import { Button } from "./ui/button";

const today = new Date();
---

<footer class="footer">
	<div class="container-lg flex flex-col gap-18">
		<div class="flex justify-between">
			<div class="max-w-md">
				<div>
					<p class="text-lg font-bold font-body tracking-tighter">D'ACOSTA LABORATORIO DENTAL</p>
					<p class="text-lg mt-2">En toda barcelona. Servicio premuium garantizado.</p>
				</div>
			</div>
			<div>
				<ul class="flex gap-8">
					<li class="flex items-start">
						<a href="/about" class="text-sm font-semibold font-headings tracking-tighter">
							SOBRE NOSOTROS
						</a>
					</li>
					<li class="flex items-start">
						<a href="/legal" class="text-sm font-semibold font-headings tracking-tighter">
							AVISO LEGAL
						</a>
					</li>
					<li class="flex items-start">
						<a href="/contact" class="text-sm font-semibold font-headings tracking-tighter">
							CONTACTO
						</a>
					</li>
				</ul>
			</div>
			
		</div>

		<div class="flex justify-between">
			<div class="max-w-2xl">
				<div>
					<p class="text-5xl font-bold font-body tracking-tighter">
						MANTENTE INFORMADO
					</p>
				</div>
				<div class="mt-2 max-w-md">
					<p class="text-lg font-body tracking-wide">
						Suscríbete a nuestro boletín para mantenerte al día con innovaciones, formaciones y novedades del laboratorio.
					</p>
				</div>
			</div>
			<div class="flex gap-4">
				<div>
					<input type="email" placeholder="Introduce tu correo electrónico" class="w-xs  rounded-full border border-gray-300 px-4 py-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
				</div>
				<div>
					<Button size="lg">Suscribirse</Button>
				</div>
			</div>
		</div>

		<div class="flex justify-between pt-8 border-t border-gray-200">
			<div class="flex gap-4">
				<p class="text-sm">
					© {today.getFullYear()} D'ACOSTA LABORATORIO DENTAL. All rights reserved.
				</p>
				<ul class="flex gap-4">
					<li class="text-sm">
						<a href="/legal">Aviso legal</a>
					</li>
					<li class="text-sm">
						<a href="/privacy">Política de privacidad</a>
					</li>
				</ul>
			</div>
			<div class="flex gap-4">
				<div>
					<ul class="flex gap-4">
						<li><Instagram /></li>
						<li><Youtube /></li>
						<li><Linkedin /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
