---
import HeaderLink from './HeaderLink.astro';
import { Button } from "@/components/ui/button"
import logoUrl from "../assets/logo-placeholder.png"
---

<header class="header fixed left-1/2 top-8 z-999 flex h-16 w-300 -translate-x-1/2 items-center justify-between rounded-full bg-neutral p-2">
	<a class="logo ml-2 h-auto w-32" href="/">
		<img class="h-auto w-32 object-cover" src={logoUrl.src} alt="Logo" />
	</a>
	<nav class="flex flex-row items-center gap-6">
		<HeaderLink class="text-base letter-spacing-animation" href="/">Home</HeaderLink>
		<HeaderLink class="text-base letter-spacing-animation" href="/">Servicios</HeaderLink>
		<HeaderLink class="text-base letter-spacing-animation" href="/">Galeria</HeaderLink>
		<HeaderLink class="text-base letter-spacing-animation" href="/">Tecnología</HeaderLink>
		<HeaderLink class="text-base letter-spacing-animation" href="/">Equipo</HeaderLink>
	</nav>
	<Button className="cursor-pointer letter-spacing-animation" size="lg">Concreta una cita</Button>
</header>

<style>
	.header {
		transition: all 0.6s ease;
		scale: 0;
		opacity: 0;
	}
	.header-scale-in{
		scale: 0;
		opacity: 0;
		animation: headerLoad 1.7s ease-out forwards;
		width: 200px;
	}

	.header.scrolled {
		width: 800px;
		padding: 0.5rem;
		background-color: color-mix(in srgb, #fff 80%, transparent 20%);
		backdrop-filter: blur(2px);
		box-shadow: 0 2px 6px rgba(0, 0, 1, 0.15);
		top: 16px;
	}

	@keyframes headerLoad {
		10% {
			scale: 0
			opacity: 0;
			width: 130px;
		}
		50% {
			scale: 1;
			opacity: 1;
			width: 130px;
		}
		100% {
			scale: 1;
			opacity: 1;
			width: 1200px;
		}
	}

	.loaded{
		opacity:  1 !important;
		display: flex !important;
	}

	header > *:not(.logo) {
		opacity: 0;
		transition: opacity 0.5s ease;
		display: none;
	}

	.letter-spacing-animation{
		transition: all 0.3s ease;
		&:hover{
			letter-spacing: 2px;
			font-weight: 500;
			text-shadow: 0 2px 6px color-mix(in srgb, var(--color-primary) 10%, transparent 20%);
		}
	}
</style>

<script>
	const header = document.querySelector('.header');
	
	window.addEventListener('scroll', () => {
		if(!header) return;
		if (window.scrollY >= 500) {
			header.classList.add('scrolled');
		} else {
			header.classList.remove('scrolled');
		}
	});

	header?.classList.add("header-scale-in");

	const duration = 2000; 
	const triggerTime = duration * 0.7;

	setTimeout(() => {
		header?.querySelectorAll(':scope > *:not(.logo)').forEach(child => {
			setTimeout(() => {child.style.display = 'flex';}, 100);
			setTimeout(() => {child.classList.add('loaded');}, 150);
		});
	}, triggerTime);
</script>
