---
import { Footer } from "@/components/layouts/Footer/Footer";
import { Header } from "@/components/layouts/Header/Header";

interface Props {
  title: string;
  label: string;
  type?: "center" | "default";
  textExtra?: string;
}

const { title, label, type = "default", textExtra } = Astro.props as Props;
---

<Header client:load />
<section
  class={`flex flex-col ${type === "center" ? "items-center" : "items-start"} px-8`}
>
  <div
    class={`flex flex-col gap-8 ${type === "center" ? "items-center" : "items-start"} py-40 w-full`}
  >
    <span
      class="text-sm border border-primary/50 rounded-full px-2 py-1 tracking-widest"
      >{label}</span
    >
    <div class="text-left w-full flex flex-col justify-between items-center">
      <h1 class="main-title font-bold text-primary/70 mb-2">{title}</h1>
      {
        textExtra && (
          <span
            class={`${type === "center" ? "self-center" : "self-end"} text-md font-medium uppercase font-headings text-primary/50`}
          >
            {textExtra}
          </span>
        )
      }
    </div>
    <div class="w-full flex flex-col items-stretch">
      <slot />
    </div>
  </div>
  <Footer />
</section>
