---
import Head from "@/components/Head.astro";
import SmoothScroll from "@/components/SmoothScroll.tsx";
import { getGlobal } from "@/lib/strapi";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Default Title", description = "Default Description" } : Props = Astro.props;


---
<!doctype html>
<html lang="es">
	<Head title={title} description={description} />
	<body>
		<SmoothScroll client:load>
			<slot />
		</SmoothScroll>
	</body>
</html>
