---
import Head from "@/components/Head.astro";
import SmoothScroll from "@/components/SmoothScroll.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

---
<!doctype html>
<html lang="en">
    <!-- TODO: Modify head -->
	<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<SmoothScroll client:load>
			<slot />
		</SmoothScroll>
	</body>
</html>
