---
import { Footer } from "@/components/layouts/Footer/Footer";
import { Header } from "@/components/layouts/Header/Header";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<Header client:load />
<section class="flex flex-col items-center py-28 lg:py-40 px-4 lg:px-8">
  <div class="flex flex-col gap-8 w-full">
    <a href="/gallery" class="self-start font-bold text-accent-dark hover:underline">
      VOLVER A LA GALERIA
    </a>
    <h1 class="text-center main-title font-bold text-primary mb-2">{title}</h1>
    <div class="w-full flex flex-col gap-10 lg:flex-row lg:gap-16 items-stretch">
      <slot />
    </div>
  </div>
</section>
<Footer />
